{% extends 'base.html' %}
{% block content %}
<!-- !PAGE CONTENT! -->
<!-- app display -->
<div class="container">
<div class="spacer"></div>

<!-- Page content -->
<div class="page80" style="min-height: 83vh;">

  <!-- Project Section -->
  <div class="{{ theme }}-light">
    <br>
    <h3 class="text-white" style="text-indent: 25px;">{{ ingredients }}</h3>
    <br>
  </div>

  <div class="mobile">
    <div class="parent">
      {%for i in range(0,recipes_table.shape[0])%}
      <div class="boxs borderc">
        <div class="{{ theme }}-dark" style="height:6vh;">
          <h4><a class="text-white link" href="{{ recipes_table.iloc[i,6] }}" target="_blank">{{ recipes_table.iloc[i,0] }}</a></h4>
        </div>
        <div class="center des-img" style="height:15vh;overflow:hidden;">
          <img src="{{ recipes_table.iloc[i,7] }}" alt="House" style="width:100%">
        </div>
      </div>
      {%endfor%}
    </div>
  </div>

<div class="desktop">
  <div class="parent">
    {%for i in range(0,recipes_table.shape[0])%}
    <div class="box borderc">
      <div class="{{ theme }}-dark" style="height:6vh;">
        <h4><a class="text-white link" href="{{ recipes_table.iloc[i,6] }}" target="_blank">{{ recipes_table.iloc[i,0] }}</a></h4>
      </div>
      <div class="center des-img" style="height:15vh;overflow:hidden;">
        <img src="{{ recipes_table.iloc[i,7] }}" alt="House" style="width:100%">
      </div>
    </div>
    {%endfor%}
  </div>
</div>

</div>
</div>

<div class="container">
<!-- end of about section -->

{% endblock %}
